.rcorners{
    margin-bottom: 5%;
    border-radius: 15px;
    background: #e6f9ff ;
    border: 2px solid #005580 ;
    padding: 20px;
    font-size: 20px;
}
.head1{
  margin-bottom: 5%;
}

h2{
  color: #005580;
  margin-top: 5%;
}

.container-card2{
  display: none;
}
