<!DOCTYPE html>
<html lang="en" ng-app="demoApp">

<head>
  <title>Todo List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="css/card.css">
  <script src="app.js"></script>
</head>

<body ng-controller="SimpleController">

  <div class="container">
    <h2>TODO LIST</h2>
    <form class="form-inline">
      <div class="form-group">

        <input type="text" class="form-control" ng-model="name" placeholder="Enter name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" ng-model="todo" placeholder="Enter todo" required>
      </div>
      <button type="submit" class="btn btn-default" ng-click="addTodo()"><b>+</b></button>
    </form>
  </div>

  <div class="container">
    <ul>
      <div ng-repeat="todo in todos" style="margin-top:20px;margin-left:-36px;"><div class="container card1 rcorners" id={{"x"+$index}}>
        <button class="w3-button w3-red w3-circle" style="margin-left: 100%;margin-top: -6%; " ng-click="remove(todos, $index)">&#10005</button>
        <div class="row" style="margin-bottom: 7px;margin-top: -3%;">
          <div class="col-sm-12"><b><i>{{todo == "" ? "Anonymous" : todo.name}}</i></b></div>
        </div>
        <hr style="height: 2.2px; background-color: black;">
        <div class="row">
          <div class="col-sm-11">{{todo.todo}}</div>
          <div class="col-sm-1">
            <button type="button" class="btn btn-default" ng-click="show($index)"><b>Edit</b></button>
          </div>
        </div>

      </div>

      <div class="container-card2 rcorners" id={{"y"+$index}}>
        <div class="row" style="margin-bottom: 7px;">
          <div class="col-sm-12"><b><i>{{todo == "" ? "Anonymous" : todo.name}}</i></b></div>
        </div>
        <hr style="height: 3px; background-color: black">
        <div class="row">
          <div class="col-sm-11"><input type="text" class="form-control" placeholder="what do u want to add?" id={{$index}}></div>
          <div class="col-sm-1">
            <button type="button" class="btn btn-default" ng-click="update(todos, $index)"><b>Update</b></button>
          </div>
        </div>

      </div>
    </div>

      <!-- <a ng-click="remove(todos, $index)">Remove</a><input type="text" id={{$index}}><button type="button" name="button" ng-click="update(todos, $index)">Update</button></li> -->
    </ul>
  </div>







</body>

</html>
